{% extends "base.html" %}
{% block start %}
    <div class='container mt-5'>
        <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Add Receipe</h2>
            <hr>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Receipe Name</label>
              <input name="receipe_name" type="text" class="form-control" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Receipe Description</label>
              <textarea name="receipe_description" class="form-control" required></textarea>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Receipe Image</label>
                <input name="receipe_image" type="file" class="form-control">
              </div>
           
            <button type="submit" class="btn btn-success">Add Receipe</button>
        </form>

        <a href="/receipes/" class="btn btn-warning">Recipes</a>
    </div>

    
{% endblock %}