certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
et-xmlfile==1.1.0
Flask==2.0.3
Flask-SQLAlchemy==2.5.1
ghs==0.1.1
goto==1.0
greenlet==1.1.2
halo==0.0.31
idna==3.3
itsdangerous==2.1.1
Jinja2==3.0.3
log-symbols==0.0.14
MarkupSafe==2.1.1
numpy==1.22.3
openpyxl==3.0.9
pandas==1.4.2
pdf2image==1.16.0
Pillow==9.1.0
PyPDF2==1.27.8
pyperclip==1.8.2
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
retry-requests==1.0.1
six==1.16.0
spinners==0.0.24
SQLAlchemy==1.4.32
termcolor==1.1.0
urllib3==1.26.9
Werkzeug==2.0.3
